#desk {
    position: absolute;
    bottom: 0;
    background: url("/assets/img/desk.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 35%;

    & .icon {
        position: absolute;
        background-repeat: no-repeat;
        top: 61%;
        width: 7%;
        height: (7*16%/(0.35*9));
        transition: all 1.3s;
        background-size: contain;
    }

    & .icon img {
        max-width: 100%;
        max-height: 100%;
        transition: all 0.3s;
    }

    & .icon img:hover {
        margin: -0.3em 0 0 -0.3em;
        transform: scale(1.1);
        filter: drop-shadow(0.4em 0.4em 0.2em rgba(0, 0, 0, 0.3));
    }

    & .complaint {
        left: 20%;
    }

    & .response {
        left: 73%;
    }

    & .transcript {
        left: 3%;
    }

    & .dictionary {
        left: 90%;
    }

    & .verdict {
        // transform: rotate(0deg) !important;
        // top: 61% !important;
        left: 46.5%;
    }

    & .slot1 {
        left: 30%;
    }

    & .invoice {
        background-color: $white;
    }
}

#items {
    & .item {
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        transition: all 1.5s;
        top: 5%;
        left: 10%;
        margin-top: 150%;
        width: 80%;
        height: 90%;
    }
    
    & .content {
        position: absolute;
        color: $black;
        overflow: auto;
        background-color: $white;
        
        & p {
            margin: 1em;
        }

        & .tag {
            cursor: pointer;
            padding: 0.2% 0.6%;
            background: linear-gradient(104deg, 
                    rgba(255, 177, 122,0) 0.9%, 
                    rgba(255, 177, 122,1.25) 2.4%, 
                    rgba(255, 177, 122,0.5) 5.8%, 
                    rgba(255, 177, 122,0.1) 93%, 
                    rgba(255, 177, 122,0.7) 96%, 
                    rgba(255, 177, 122,0) 98%), 
                linear-gradient(183deg, 
                    rgba(255, 177, 122,0) 0%, 
                    rgba(255, 177, 122,0.3) 7.9%, 
                    rgba(255, 177, 122,0) 15%);
            -webkit-box-decoration-break: clone;
            margin: -0.2% -0.6%;
            border-radius: 13%;
            text-shadow: -12px 12px 9.8px rgba(255, 177, 122,0.7), 
                21px -18.1px 7.3px rgba(255, 255, 255,1), 
                -18.1px -27.3px 30px rgba(255, 255, 255,1);

            &:hover {
                background: linear-gradient(104deg, 
                        rgba(202, 255, 122,0) 0.9%, 
                        rgba(202, 255, 122,1.25) 2.4%, 
                        rgba(202, 255, 122,0.5) 5.8%, 
                        rgba(202, 255, 122,0.1) 93%, 
                        rgba(202, 255, 122,0.7) 96%, 
                        rgba(202, 255, 122,0) 98%), 
                    linear-gradient(183deg, 
                        rgba(202, 255, 122,0) 0%, 
                        rgba(202, 255, 122,0.3) 7.9%, 
                        rgba(202, 255, 122,0) 15%);
                text-shadow: -12px 12px 9.8px rgba(202, 255, 122,0.7), 
                    21px -18.1px 7.3px rgba(255, 255, 255,1), 
                    -18.1px -27.3px 30px rgba(255, 255, 255,1);
            }
        }

        & .strikeTag {
            text-decoration: line-through;
            text-decoration-color: red;
        }
    }

    & .complaint {
        background-image: url("/assets/img/complaintBig.png");
        
        & .content {
            top: 5%;
            left: 51%;
            width: 40%;
            height: 90%;
        }
    }


    & .response {
        background-image: url("/assets/img/responseBig.png");
        
        & .content {
            top: 1%;
            left: 51%;
            width: 41%;
            height: 90%;
        }
    }


    & .transcript {
        background-image: url("/assets/img/transcriptBig.png");

        & .content {
            top: 0;
            left: 17%;
            width: 39%;
            height: 83%;
            
            & p {
                line-height: 1.35em;
                text-indent: -1.5em;
                margin-left: 2.5em;
            }

            & .contradictory {
                cursor: pointer;

                &:hover {
                    background-color: lightblue;
                }
            }
        }

        & .content2 {
            position: absolute;
            top: 10%;
            left: 61%;
            width: 21%;
            height: 79%;
            overflow: hidden;
            color: $black;
        }

    }

    & .dictionary {
        background-image: url("/assets/img/dictionaryBig.png");
        
        & .content {
            top: 3%;
            left: 49%;
            width: 46%;
            height: 87%;
        }

        & .content2 {
            position: absolute;
            top: 3%;
            left: 2%;
            width: 46%;
            height: 87%;
            overflow: hidden;
            color: $black;
            background-color: $white;

            & p {
                margin: 1em;
            }
        }
    }

    & .verdict {
        background-image: url("/assets/img/verdictBig.png");
        width: 74%;

        & .content {
            top: 11%;
            left: 32%;
            width: 37%;
            height: 76%;
            overflow: hidden;
            background-color: transparent;

            h1 {
                text-align: center;
                margin-top: 0;
                font-size: 1.5em;
            }

            p {
                margin: 0.5em 0.1em;
            }

            .liableSwitch {
                position: relative;
                left: 30%;
                width: 40%;
                height: 3em;
                text-align: center;
                background: #C0C0C0;
                transition: all 0.2s ease;
                border-radius: 1.5em;
                
                & span {
                    position: absolute;
                    width: 1.1em;
                    height: 0.22em;
                    top: 50%;
                    left: 50%;
                    margin: 2px 0px 0px -4px;
                    background: rgba(0,0,0,0);
                    display: block;
                    transform: rotate(-45deg);
                    transition: all 0.2s ease;
                    
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 4px;
                        height: 12px;
                        margin-top: -8px;
                        background: rgba(0,0,0,0);
                        transition: all 0.2s ease;
                    }
                }
                
                & label {
                    position: absolute;
                    cursor: pointer;
                    color: rgba(0,0,0,0.2);
                    width: 50%;
                    line-height: 3em;
                    transition: all 0.2s ease;
                    font-weight: bold;
                }

                & .liableLabel {
                    left: 0
                }

                & .notLiableLabel {
                    right: 0
                }
            }

            & .liable:checked ~ .liableSwitch {
                background: #00bc9c;
            }
            
            & .notLiable:checked ~ .liableSwitch {
                background: #eb4f37;
            }

            & .liable:checked ~ .liableSwitch .liableLabel {
                color: #fff;
            }

            & .liable:checked ~ .liableSwitch span {
                background: #fff;
            }

            & .notLiable:checked ~ .liableSwitch span {
                background: #fff;
                margin-left: -8px;
            }

            & .notLiable:checked ~ .liableSwitch .notLiableLabel {
                color: #fff;
            }

            & .notLiable:checked ~ .liableSwitch span:after {
                background: #fff;
                height: 20px;
                margin-top: -8px;
                margin-left: 8px;
            }

            & .liable:checked ~ .liableSwitch span:after {
                background: #fff;
            }

            & input[type=radio] {
                display: none;
            }

            & input[type=number] {
                position: absolute;
                bottom: 25%;
                width: 20%;
                font-size: 1.1em;
                padding: 0.1em 0.4em;
                left: 40%;
                transform: translateX(-0.4em);
            }

            & input[type=range] {
                position: absolute;
                left: 10%;
                bottom: 19%;
                width: 80%;
            }

            & button {
                position: absolute;
                left: 9%;
                bottom: 1%;
                width: 50%;
                height: 7%;
            }
        }
    }

    & .invoice {
        background-color: $white;
        width: 40%;
        left: 30%;

        & .content {
            width: 100%;
            height: 100%;
        }
    }
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.7;
    background: $black;
    transition: all 1.5s;
}